.row
  .col-md-12
    .page-header
      %h1
        Swag for #{@sponsor.name}
        = link_to 'Add Swag', new_admin_conference_sponsor_sponsor_swag_path(@conference, @sponsor), class: 'btn btn-warning pull-right'
.row
  .col-md-12
    %table.table.table-hover.table-striped.datatable#swag-table
      %thead
        %th Name
        %th.text-center Quantity
        %th.text-center Shipments
        %th.text-center Delivered
        %th.text-center Available at venue
        %th.text-center Notes
        %th.text-center Actions
      %tbody
        - @sponsor.sponsor_swags.each do |swag|
          %tr
            %td= swag.name
            %td.text-right= swag.quantity
            %td.text-center
              - swag.sponsor_shipments.each do |shipment|
                = shipment.track_no
                = "\n"
            %td.text-center{ data: { order: swag.delivered?.to_s } }
              = check_box_tag @conference.short_title, swag.id, swag.delivered?,
                              method: :patch,
                              url: "/admin/conferences/#{@conference.short_title}/sponsors/#{@sponsor.id}/sponsor_swags/#{swag.id}/deliver?sponsor_swag[delivered]=",
                              class: 'switch-checkbox',
                              data: { size: 'small',
                                      off_color: 'warning',
                                      on_text: "<span class='fa fa-check fa-font-size-initial'></span>",
                                      off_text: '<i class="fa fa-times fa-font-size-initial"></i>' }

            %td.text-center{ data: { order: swag.at_venue?.to_s } }
              = check_box_tag @conference.short_title, swag.id, swag.at_venue?,
                              method: :patch,
                              url: "/admin/conferences/#{@conference.short_title}/sponsors/#{@sponsor.id}/sponsor_swags/#{swag.id}/available?sponsor_swag[available]=",
                              class: 'switch-checkbox',
                              data: { size: 'small',
                                      off_color: 'warning',
                                      on_text: "<span class='fa fa-check fa-font-size-initial'></span>",
                                      off_text: '<i class="fa fa-times fa-font-size-initial"></i>' }
            %td= swag.notes
            %td.text-center
              .btn-group
                = link_to 'Edit', edit_admin_conference_sponsor_sponsor_swag_path(@conference, @sponsor, swag), class: 'btn btn-primary'
                = link_to 'Delete', admin_conference_sponsor_sponsor_swag_path(@conference, @sponsor, swag), method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure you want to delete swag #{swag.name}?" }
                = link_to 'Shipments', admin_conference_sponsor_sponsor_shipments_path(@conference, @sponsor, swag_id: swag.id), class: 'btn btn-success'
